.singIn{
  height: 27vw;
  width: 40vw;
  margin: 0 auto;
  background: rgba(0,0,0,0.71);
  margin-top: -50px;
  border: 1px solid  #033249;
}
.singIn>h1{
  font-weight: 400;
  font-size: 2rem;

}
.singIn>form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 16px;
}
.singIn_input{
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  border: none;
  outline: none;
}
.singIn_label{
  font-size: 1.2rem;
}
.singup_btn{
  width: 100px;
  padding: 10px 20px;
  background-color: #033249;
  color: white;
  border: none;
  outline: none;
  transition: transform 450ms;
  font-weight: 500;
  font-size: 0.8rem;
}
.singup_btn:hover{
      transform: scale(1.09);
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 500;
}
.sing_In_moviefy{
  color: gray;
  margin-right: 5px;
}
.sing_up_link{
  cursor: pointer;
  font-weight: 500;
}
.sing_up_link:hover{
  color: #033249;
}
@media (max-width: 600px) {
  .singIn{
      height: 350px;
      width: 300px;
      margin-top: -79px;
  }
  .singIn>h1{
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 5px;
  }
  .singIn_input{
      width: 150px;
      
  }
  .singIn_label{
      font-size: 1.1rem;
  }
  
}